*{
    font-family: 'Kaushan Script';
    color: white;
}
.input{
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
}

body{
    background-image: url(./trees.jpg);
    background-size: cover;
}

.picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

header a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}
  
header a:hover {
    background-color: #ddd;
    color: black;
}

header a.active {
    background-color: #04AA6D;
    color: white;
}

header a img, header a{
    width: 30px;
    height: 30px;
}

header{
    position: fixed;
    top: 10px;
}

.photo {
    position: relative;
    top: 100px;
    display:inline;
}

.photo img{
    width: 10%;
    height: auto;
}